# Enemizer Output
EnemizerCLI/
RaceRom.py
weights/

# IDE
.idea
.vscode
.vs/
build
bundle/components.wxs
dist
test
upx/
venv
get-pip.py
*.exe

# MW Output
*multidata
*multisave
/MultiMystery/
/Players/
/QUsb2Snes/

# Py
.mypy_cache/
*.log
*.pyc

# Rando Output
base2current.json
*.bmbp
*_Spoiler.json
*_Spoiler.txt

# SFC
*.bst
*.sfc
*.srm
*.wixobj

# Sprites
data/sprites/*
!data/sprites/*/*link*zspr

# User
resources/user/*
!resources/user/.gitkeep

README.html
